html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, lightgrey, white );
}

body {
  height: 100%;
  width: 100%;
  background-color: #E5D9B6;
  margin: 0;
}

.header1 {
  margin: 3px;
  box-shadow: 10px 10px 5px;
  background-color: white;
  box-shadow: 1px 1px 30px 1px black;
  height: 40px;
  display: flex;
  align-items: center;     
  text-align: center;   
  background-color: #A4BE7B;
  border-radius: 5px;
  border: groove 1px #285430;
}


.header { 
  flex:1;
  margin: 3px;
  box-shadow: 1px 1px 5px;
  background-color: white;
  height: 40px;
  width: 100%;
  background-color: #A4BE7B;
  border-radius: 5px;
  border: groove 1px #285430;
}





.head {
color: #E5D9B6;
background: black;
border-radius: 5px;
border: groove 1px #285430;
box-shadow: 5px 1px 40px black;
}

i.material-symbols-outlined {
  font-size: 38px;
  color: #E5D9B6;
  background: black;
  border-radius: 5px;
  border: groove 1px #285430;
  box-shadow: 5px 1px 40px black;
}

.header:hover {
  background-color: #E5D9B6;
  text-shadow: 1px 1px 14px;
}

/*home*/


.div1 {
  display: flex;
  width: 100%;
  height: 100px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  }
  
 .home1 {
   flex: 1;
   text-align: center;
   border: groove 1px #285430;
   background-color: #5F8D4E;
   box-shadow: 1px 1px 10px 1px;
   border-radius: 5px;
   margin: 10px;
 }
 

 

.home2 {
  flex: 1;
  text-align: center;
  margin-left: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.div2 {
  display: flex;
  width: 100%;
  height: 100px; 
  margin: 10px;
}

.home3 {
  flex: 1;
  text-align: center;
  margin-right: 5px;
  border-radius: 5px;
}

.home4 {
  flex: 1;
  text-align: center;
  border: groove 1px #285430;
  background-color: #5F8D4E;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 5px;
  margin: 5px;
  margin-right: 15px;
}

.div3 {
  display: flex;
  width: 100%;
  height: 100px;
  margin: 10px;
}

.home5 {
  flex: 1;
  text-align: center;
  background-color: #5F8D4E;
  border: groove 1px #285430;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 5px;
  margin: 5px;
}

.home6 {
 flex: 1;
 text-align: center;
 margin-left: 5px;
 border-radius: 5px;
 margin-right: 15px;
}

.pic1, .pic2, .pic3 {
width: 200px;
height: 100px;
border: groove 1px #285430;
box-shadow: 1px 1px 10px 1px;
border-radius: 5px;
}


/*images*/

.img1, .img2, .img3, .img4, .img5, .img6 {
  width: 200px;
  border-radius: 50%;
  height: 100px;
}

.zdiv1 {
  display: flex;
  width: 100%;
  height: 100px; 
  margin: 10px;
}

 .images1 {
   flex: 1;
   text-align: center;
   border: groove 1px #285430;
   background-color: #5F8D4E;
   box-shadow: 1px 1px 10px 1px;
   border-radius: 5px;
   margin-right: 10px;
 }
 
 .images2 {
  flex: 1;
  text-align: center;
  border: groove 1px #285430;
  background-color: #5F8D4E;
  box-shadow: 1px 1px 10px 1px;
  margin-left: 5px;
  border-radius: 5px;
  margin-right: 15px;
}

.zdiv2 {
  display: flex;
  width: 100%;
  height: 100px; 
  margin: 10px;
}

.images3 {
  flex: 1;
  text-align: center;
  border: groove 1px #285430;
  background-color: #5F8D4E;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 5px;
  margin-right: 15px;
}

.images4 {
  flex: 1;
  text-align: center;
  border: groove 1px #285430;
  background-color: #5F8D4E;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 5px;
  margin-right: 15px;
}

.zdiv3 {
  display: flex;
  width: 100%;
  height: 100px;
  margin: 10px;
}

.images5 {
  flex: 1;
  text-align: center;
  border: groove 1px #285430;
  background-color: #5F8D4E;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 5px;
  margin-right: 15px;
  margin-bottom: 5px;
}

.images6 {
 flex: 1;
 text-align: center;
 border: groove 1px #285430;
 background-color: #5F8D4E;
 box-shadow: 1px 1px 10px 1px;
 border-radius: 5px;
 margin-bottom: 5px;
 margin-right: 15px;
}





 
/*classes*/


.cdiv1 {
  display: flex;
  width: 100%;
  height: 100px; 
  margin: 10px;
}

 .classes1 {
   flex: 1;
   text-align: center;
   border: groove 1px #285430;
   background-color: #5F8D4E;
   box-shadow: 1px 1px 10px 1px;
   border-radius: 5px;
   margin-right: 10px;
 }

.classes2 {
  flex: 1;
  text-align: center;
  border: groove 1px #285430;
  background-color: #5F8D4E;
  box-shadow: 1px 1px 10px 1px;
  margin-left: 5px;
  border-radius: 5px;
  margin-right: 15px;
}

.cdiv2 {
  display: flex;
  width: 100%;
  height: 100px; 
  margin: 10px;
}

.classes3 {
  flex: 1;
  text-align: center;
  border: groove 1px #285430;
  background-color: #5F8D4E;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 5px;
  margin-right: 15px;
}

.classes4 {
  flex: 1;
  text-align: center;
  border: groove 1px #285430;
  background-color: #5F8D4E;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 5px;
  margin-right: 15px;
}

.cdiv3 {
  display: flex;
  width: 100%;
  height: 100px;
  margin: 10px;
}

.classes5 {
  flex: 1;
  text-align: center;
  border: groove 1px #285430;
  background-color: #5F8D4E;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 5px;
  margin-right: 15px;
  margin-bottom: 5px;
}

.classes6 {
 flex: 1;
 text-align: center;
 border: groove 1px #285430;
 background-color: #5F8D4E;
 box-shadow: 1px 1px 10px 1px;
 border-radius: 5px;
 margin-bottom: 5px;
 margin-right: 15px;
}



/*Q&A*/



.adiv1 {
  display: flex;
  width: 100%;
  height: 100px;
  margin-top: 12px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  
  }
  
 .qa1 {
  flex: 1;
  text-align: center;
  border: groove 1px #285430;
  background-color: #5F8D4E;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
 }

.qa2 {
  flex: 1;
  text-align: center;
  border: groove 1px #285430;
  background-color: #5F8D4E;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.adiv2 {
  display: flex;
  width: 100%;
  height: 100px; 
  margin: 5px;
}

.qa3 {
  flex: 1;
  text-align: center;
  border: groove 1px #285430;
  background-color: #5F8D4E;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.qa4 {
  flex: 1;
  text-align: center;
  border: groove 1px #285430;
  background-color: #5F8D4E;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.adiv3 {
  display: flex;
  width: 100%;
  height: 100px;
  margin: 5px;
}

.qa5 {
  flex: 1;
  text-align: center;
  border: groove 1px #285430;
  background-color: #5F8D4E;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.qa6 {
 flex: 1;
  text-align: center;
  border: groove 1px #285430;
  background-color: #5F8D4E;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}



/*story*/


.bdiv1 {
  display: flex;
  width: 100%;
  height: 100px;
  margin-top: 12px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  }
  
 .story1 {
   flex: 1;
   text-align: center;
   border: groove 1px #285430;
   background-color: #5F8D4E;
   box-shadow: 1px 1px 10px 1px;
   border-radius: 5px;
   margin: 5px;
   margin-bottom: 5px;
 }

.story2 {
  flex: 1;
  text-align: center;
  border-radius: 5px;
  margin-right: 10px;
}

.bdiv2 {
  display: flex;
  width: 100%;
  height: 100px; 
  margin: 5px;
}

.story3 {
  flex: 1;
  text-align: center;
  margin-right: 5px;
  border-radius: 5px;
}

.story4 {
  flex: 1;
  text-align: center;
  border: groove 1px #285430;
  background-color: #5F8D4E;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 5px;
  margin-right: 10px;
}

.bdiv3 {
  display: flex;
  width: 100%;
  height: 100px;
  margin: 5px;
}

.story5 {
  flex: 1;
  text-align: center;
  border: groove 1px #285430;
  background-color: #5F8D4E;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 5px;
}

.story6 {
 flex: 1;
 text-align: center;
 border-radius: 5px;
}

.bdiv4 {
  display: flex;
  width: 100%;
  height: 100px;
  margin: 5px;
}

.story7 {
 flex: 1;
 text-align: center;
 margin-right: 5px;
 border-radius: 5px;
}

.story8 {
 flex: 1;
 text-align: center;
 border: groove 1px #285430;
 background-color: #5F8D4E;
 box-shadow: 1px 1px 10px 1px;
 border-radius: 5px;
 margin-right: 10px;
}

.pic4, .pic5, .pic7 {
width: 200px;
height: 100px;
border: groove 1px #285430;
box-shadow: 1px 1px 10px 1px;
border-radius: 5px;
}

.pic6 {
width: 160px;
height: 100px;
border: groove 1px #285430;
box-shadow: 1px 1px 10px 1px;
border-radius: 5px;

}


/*contact*/


 .head6 {
  padding: 10px;
  text-align: center;
  height: 200px;
  width: 400px;
  margin: 50px;
  border: groove 1px #285430;
  background-color: #5F8D4E;
  box-shadow: 1px 1px 10px 1px;
  border-radius: 50px;
  margin-left: 35%;
}








.footer {
  margin: 5px;
  height: 40px;
  justify-content: center; 
  align-items: center;    
  text-align: center;
  border: groove 1px #285430;
  background-color: #5F8D4E;
  box-shadow: 1px 1px 10px black;
  border-radius: 5px;
  margin-top: 10px;
  border: groove 1px #285430;

}

.footer:hover {
background-color: #E5D9B6;
}


